application/Log/*
.idea/*
composer.lock
bin/*.pid
bin/*.service
vendor/*
core.*
test/*
debug/*
grpc/*
apollo/.agollo
application/Config/celery\.php
application/Config/mysql\.php
application/Config/redis\.php
application/Config/server\.php
application/Config/application\.php
